body {
    margin: 10px;
    padding: 10px;
}

@media screen and (max-height:3px) {}

.content {
    height: 80vh;
    width: 100vw;
    text-align: center;
}

.titleHeader {
    height: 10vh;

    h1,
    p {
        margin: 5px;
    }

    p {
        font-weight: normal;
    }
}

table {
    border-collapse: collapse;
    height: 100%;
    margin: 0 auto;

    thead tr th {
        border-bottom: 1px solid #aaa;

        &:last-child {
            border: none;
        }
    }

    tbody tr:last-child {
        border-top: 1px solid #aaa;
    }

    th {
        font-weight: bold;
    }

    td {
        padding: 5px;
    }
}

.cell {
    position: relative;
    font-weight: bold;
    text-align: center;

    input,
    span {
        border: none;
        text-align: center;
        outline: none;
        background: transparent;
        font-size: 20px;
        max-width: 3.5em;
    }
}

.playerName:hover {
    .btnRemove {
        display: block;
    }
}

.iconBtn {
    background: none;
    border: none;
    cursor: pointer;

    &.remove {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.footer {
    height: 10vh;
    margin: 10px 0;
}
