td {
    padding: 0;
    font-size: 20px;
    text-align: center;

    .icon {
        height: 48px;
    }

    .card {
        border: 2px solid #fff;
        width: 28px;
        border-radius: 4px;
        margin: 0 auto;
    }

    .text {
        color: #fff;
        font-size: 48px;
        line-height: 48px;
    }
}

.header {
    border-right: 1px solid #aaa;
}

@media screen and (min-width:415px) {
    .header {
        width: 5em;
    }
}
